/node_modules
play.pokemonshowdown.com/config/config.js
*.js
*.html
*.map
*.php
*.js
play.pokemonshowdown.com/config/testclient-key.js
config/config.js
play.pokemonshowdown.com/testclient.html
caches/PokemonShowdown-Reborn/
*.json